* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.image-container {
    margin-bottom: 40px;
}

.logo {
    max-width: 500px; /* Aumentei o tamanho da imagem */
}

.content h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 15px 120px; /* Deixei o botão mais fino e aumentei a largura */
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #ccc;
}