<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guardian of the Truth</title>
  <link rel="stylesheet" href="../css/paginaInicial.css">
</head>
<body>
<div class="container">
  <div class="image-container">
    <img src="../img/paginaInicial.png" alt="Fake News" class="logo">
  </div>
  <div class="content">
    <h1>Guardian of the Truth</h1>
    <p>O próximo passo para se tornar uma pessoa mais bem informada<br>sobre fake news.</p>
    <!-- Redireciona para a página de cadastro -->
    <a href="/login" class="btn">Entrar</a>
  </div>
</div>
</body>
</html>