<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificador de Fake News</title>
  <link rel="stylesheet" href="../css/verificarFakeNews.css">
</head>

<body>
<div class="container">
  <h1>Verificador de Fake News</h1>
  <div class="form-container">
    <textarea id="newsContent" placeholder="Insira o conteúdo da notícia"></textarea>
    <button id="verifyButton">Verificar</button>
  </div>
  <div id="result" class="result"></div>
</div>
<script src="../js/verificarFakeNews.js"></script>
</body>

</html>